[submodule "appstore"]
	path = appstore
	url = https://github.com/LyfeOnEdge/appstore.git
	ignore = untracked
[submodule "widgets"]
	path = widgets
	url = https://github.com/LyfeOnEdge/widgets
	ignore = untracked
[submodule "asyncthreader"]
	path = asyncthreader
	url = https://github.com/LyfeOnEdge/asyncthreader.git
	ignore = untracked
[submodule "webhandler"]
	path = webhandler
	url = https://github.com/LyfeOnEdge/webhandler
	ignore = untracked
